.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/CodeChunks.db
.vs/grapevineApiCode/config/applicationhost.config
.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
.vs/grapevineApiCode/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
.vs/grapevineApiCode/DesignTimeBuild/.dtbcache.v2
.vs/grapevineApiCode/FileContentIndex/02e4811d-d60a-4459-b5eb-2b970e066221.vsidx
.vs/grapevineApiCode/FileContentIndex/369c7554-276f-47b7-8815-bf95f0f3c41f.vsidx
.vs/grapevineApiCode/FileContentIndex/77963990-aa48-43bf-a228-aee40a56e38a.vsidx
.vs/grapevineApiCode/FileContentIndex/ad269487-b79e-4d32-95c5-4b979e2fa193.vsidx
.vs/grapevineApiCode/FileContentIndex/b4390cb6-21fc-49a6-9c16-eaebc8eded89.vsidx
.vs/grapevineApiCode/v17/.futdcache.v2
.vs/grapevineApiCode/v17/.suo
